<div id="fh5co-gallery" data-section="work">
  <div class="container">
    <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
      <h2>{{ .Params.realisation_title }}</h2>
      <p>{{ .Params.realisation_subtitle }}</p>
    </div>
  </div>

  {{ with .Site.GetPage "section" "realisation" }}
  {{ range .Data.Pages }}
  <a href="{{ .Params.thumbnail | absURL }}"
    class="fh5co-item image-popup"
    style="background-image: url({{ .Params.thumbnail | absURL }})">
    <div class="fh5co-overlay"></div>
    <div class="fh5co-copy">
      <div class="fh5co-copy-inner">
      	<h2>{{ .Params.title }}</h2>
      	{{ if isset .Params "subtitle" }}
      	<h3>{{ .Params.subtitle }}</h3>
      	{{ end }}
      </div>
    </div>
  </a>
  <div>
    {{ range .Params.images }}
    <a href="{{ .url | absURL }}" class="images-popup"></a>
    {{ end }}
  </div>
  {{ end }}
  {{ end }}
</div> <!-- END fh5co-gallery -->
