<div id="fh5co-about" data-section="mission">
  {{ with .Site.GetPage "section" "mission" }}
  <div class="fh5co-2col">

    <div class="fh5co-2col-inner left">

      <div class="fh5co-tabs-container">
      	<ul class="fh5co-tabs fh5co-three">
          {{ range .Data.Pages }}
      	  {{ if eq .Params.weight 1}}<li class="active">{{ else }}<li>{{ end }}
      	    <a href="#" data-tab={{ .Params.name }}>{{ .Params.title }}</a>
      	  </li>
      	  {{ end }}
      	</ul>

      	{{ range .Data.Pages }}
      	{{ if eq .Params.weight 1}}
      	<div class="fh5co-tab-content active" data-tab-content={{ .Params.name }}>
      	{{ else }}
      	<div class="fh5co-tab-content" data-tab-content={{ .Params.name }}>
      	{{ end }}
      	  <h2>{{ .Params.subtitle }}</h2>
      	  {{ .Params.description | markdownify }}
      	</div>
      	{{ end }}
      </div>

    </div>

  </div>

  <div class="fh5co-2col fh5co-text">
    <div class="fh5co-grid">
      {{ if .Site.Params.mission.images.enable }}
      {{ range .Site.Params.mission.images.list }}
      <div class="fh5co-grid-item" style="background-image: url({{ with .img }}{{ . | absURL }}{{ end }});"></div>
      {{ end }}
      {{ end }}

    </div>
  </div>
  {{ end }}
</div> <!-- END fh5co-about -->
