<div class="js-sticky">
  <div class="container">
    <div class="col-md-8">
      <div class="fh5co-main-nav">
        <div class="fh5co-menu-1">

        	<a href="#" data-nav-section="home">
            {{ with .Site.Params.nav }}
              {{ if isset . "logo" }}
                <img src={{ .logo | absURL }} height="20" alt="">
              {{ end }}
              {{ if (not (isset . "logo")) }}
                {{ .home }}
              {{ end }}
            {{ end }}
          </a>

        	{{ if .Site.Params.mission.enable }}
        	<a href="#" data-nav-section="mission">{{ with .Site.Params.nav.mission }}{{ . | markdownify }}{{ end }}</a>
        	{{ end }}

        	{{ if .Site.Params.work.enable }}
        	<a href="#" data-nav-section="work">{{ with .Site.Params.nav.work }}{{ . | markdownify }}{{ end }}</a>
        	{{ end }}

        	{{ if .Site.Params.team.enable }}
        	<a href="#" data-nav-section="team">{{ with .Site.Params.nav.team }}{{ . | markdownify }}{{ end }}</a>
        	{{ end }}

        	{{ if .Site.Params.contact.enable }}
        	<a href="#" data-nav-section="contact">{{ with .Site.Params.nav.contact }}{{ . | markdownify }}{{ end }}</a>
        	{{ end }}

        </div>
      </div>
    </div>

    <div class="col-md-4">
      <ul class="fh5co-social">
        {{ if isset .Params "footer_email" }}
        <li><a href="{{ .Params.footer_email }}"><i class="icon-envelope"></i></a></li>
        {{ end }}
        {{ if isset .Params "footer_twitter" }}
        <li><a href="{{ .Params.footer_twitter }}" target="_blank"><i class="icon-twitter"></i></a></li>
        {{ end }}
        {{ if isset .Params "footer_facebook" }}
        <li><a href="{{ .Params.footer_facebook }}" target="_blank"><i class="icon-facebook"></i></a></li>
        {{ end }}
        {{ if isset .Params "footer_linkedin" }}
        <li><a href="{{ .Params.footer_linkedin }}" target="_blank"><i class="icon-linkedin"></i></a></li>
        {{ end }}
        {{ if isset .Params "footer_instagram" }}
        <li><a href="{{ .Params.footer_instagram }}" target="_blank"><i class="icon-instagram"></i></a></li>
        {{ end }}
      </ul>
    </div>
  </div>
</div>
