<div id="fh5co-team" data-section="team">
  <div class="container">
    {{ with .Site.GetPage "section" "team" }}
    <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
      <h2>{{ .Title }}</h2>
      <p>{{ .Description | markdownify }}</p>
    </div>
    {{ range .Data.Pages }}
    <div class="col-md-6">
      <div class="person">
      	<img src="{{ .Params.img | absURL }}" alt="" class="img-responsive">
      	<h3>{{ .Params.name }}</h3>
      	<h4>{{ .Params.position }}</h4>
      	<p>{{ .Params.description | markdownify }}</p>
      	<ul class="social">
      	  {{ if isset .Params "facebook" }}
      	  <li><a href="{{ .Params.facebook }}"><i class="icon-facebook"></i></a></li>
      	  {{ end }}
      	  {{ if isset .Params "twitter" }}
      	  <li><a href="{{ .Params.twitter }}"><i class="icon-twitter"></i></a></li>
      	  {{ end }}
      	  {{ if isset .Params "dribbble" }}
      	  <li><a href="{{ .Params.dribble }}"><i class="icon-dribbble"></i></a></li>
      	  {{ end }}
      	  {{ if isset .Params "instagram" }}
      	  <li><a href="{{ .Params.instagram }}"><i class="icon-instagram"></i></a></li>
      	  {{ end }}
      	  {{ if isset .Params "github" }}
      	  <li><a href="{{ .Params.github }}"><i class="icon-github"></i></a></li>
      	  {{ end }}
      	  {{ if isset .Params "linkedin" }}
      	  <li><a href="{{ .Params.linkedin }}"><i class="icon-linkedin"></i></a></li>
      	  {{ end }}
      	</ul>
      </div>
    </div>
    {{ end }}
    {{ end }}
  </div>
</div> <!-- END fh5co-team -->
